<td>{{id}}</td>
<td>{{nombre}}</td>
<td>{{ram}}</td>
<td>{{almacenamiento}}</td>
<td><div class="row">
        <div class="col-12">
            <a href="/computador" class="btn btn-success">Eliminar</a>
        </div>
    </div></td>