{{> Cabecera }}
    <h1>{{ titulo }}</h1>

    <div class="row">
        <div class="col-12">
            <a href="/registrar" class="btn btn-success">Registrar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped mt-4">
                <thead>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Memoria RAM</th>
                    <th>Capacidad Disco</th>
                    <th>Acciones</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{{> Pie }}